
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 30px;
    letter-spacing:2px;
    color: #7d2ae8;
    font-weight: bolder;
    /* box-shadow: 0px 0px 10px 5px rgba(77, 77, 77, 0.349); */
}

.nav a{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s;
}
.nav a:active, .nav a:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
}

.reqStar{
    font-size: 14px;
    color: red;
}