
.mainBox{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999999;
    font-size: 20px;
    font-weight: 500;
    background-color: #d1c2d9;
  }
  .myLogo:hover {
    animation: spin 2s linear infinite;
    cursor: pointer;
  }
  
  .nav {
      cursor: pointer;
      height: 45px;
      display: flex;
      align-items: center;
      width: 100%;font-weight: bolder;
      justify-content: center;
      color:#1e0046;
      letter-spacing:2px;

    }
    .nav:hover {
      border-bottom: 3px solid #ef2be2;
    }
  
    /* Animation for smaller screen  */
  @media only screen and (max-width: 768px) {
    .myLogo {
      animation: spin 2s linear infinite;
      cursor: pointer;
    }
  }
  
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
    