.hotelContainer {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hotelBtns {
    display: flex;
    border: 1px solid rgba(80, 92, 102, 0.5);
    padding: 4px 10px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;
}

.hotelBtns:hover {
    border-color: #0d5ab9;
    box-shadow: inset 0 0 0 1px #0d5ab9;
    color: #0d5ab9 !important;
}

.hotelGoingToBtn {
    width: 40%;
}

.hoteldateBtn {
    width: 12%;
}

.hotelTraverls {
    width: 25%;
}

.Icon {
    color: #505c66;
}

.HeadingGoingto {
    margin-left: 10px;
    color: #505c66;
}

.checkInHeading {
    font-size: 0.7rem;
}

.checkinDate {
    font-size: 1rem;
}

.searchBtnDiv {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtnDiv > button {
    border: none;
    background-color: #0d5ab9;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 3rem;
    padding: 0.25rem 3rem;
}

.searchBtnDiv > button:hover {
    opacity: 0.8;
}

.searchBox {
    background: white;
    width: 101%;
    border-radius: 10px;
    position: absolute;
    top: -1px;
    left: -1px;
    box-shadow: 0px 0.5rem 1rem 0px rgb(17 21 26 / 24%);
    padding-top: 10px;
    overflow: hidden;
    z-index: 5;
}

.searchResultHight {
    max-height: 350px;
    overflow: auto;
}

.searchInput {
    width: 96%;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    min-height: 3rem;
    padding-left: 1rem;
    border: none;
    color: #505c66;
    border-bottom: 1px solid rgba(80, 92, 102, 0.3);
}

.searchInput:focus {
    outline: none;
}

.SearchResult {
    padding: 0.3rem 1rem;
}

.SearchResultIndividual {
    display: flex;
    align-items: center;
}

.SearchResult:hover {
    background-color: #f0f3f5;
}

.searchIcon {
    color: #505c66;
    font-size: 1.2rem !important;
    opacity: 0.7;
}

.SearchResultsMapping {
    margin-left: 10px;
}

.SearchResultsMapping > strong {
    color: #242c33;
    opacity: 0.9;
}

.SearchResultsMapping > div {
    color: #505c66;
    font-weight: 400;
}


.traverlersPopup {
    background: white;
    width: 130%;
    border-radius: 10px;
    position: absolute;
    top: -1px;
    right: -1px;
    box-shadow: 0px 0.5rem 1rem 0px rgb(17 21 26 / 24%);
    padding: 10px;
    overflow: hidden;
    cursor: auto;
    z-index: 5;
    max-width: 400px;
}

.travelersPopupHeading {
    color: #242c33;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    margin: 0;
    padding: 10px;
}

.treveleresAdultSelector {
    color: #505c66;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    padding: 10px;
    width: 65%;
}

.trevelersFlexContainer, .trevelersFlexChild {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.trevelersFlexChild {
    color: #505c66;
    justify-content: space-between;
    width: 25%;
}

.trevelersFlexChild > h3 {
    font-size: 1rem;
    font-weight: 400;
    width: 25%;
    text-align: center;
}

.increseDecreaseIcon {
    width: 20px;
    height: 20px;
    border: 2px solid;
    text-align: center;
    position: flex;
    border-radius: 50%;
    cursor: pointer
}

.incDecIcon {
    font-size: 1rem !important;
}

.trevelersSelectingDone {
    background-color: #0d5ab9;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 0.25rem 0px rgb(17 21 26 / 20%);
    min-height: 3rem;
    overflow: hidden;
    width: 97%;
    border: none;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
    padding: 0.25rem 1rem;
}


.swapIconDiv {
    position: absolute;
    left: -23px;
    top: 11px;
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #555c66;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}