h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242c33;
  letter-spacing: 2px;
}

.container {
  background: #f0f3f5;
  text-align: justify;
  margin-right: 50px;
}

.mainBox {
  width: 100%;
  margin: 0 20px;
  display: flex;
  gap: 22px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  color: darkviolet;
  padding: 4px 12px;
  background: #fff;
  letter-spacing: 2px;
  font-size: 16px;
}

.flex > :nth-child(n):hover {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  flex-grow: 1;
}
