.review_cont {
    background: #FFF;
    border-radius: 12px;
    padding: 22px 14px;
    margin-top: 20px;
}

.review {
    display: flex;
    gap: 30px;
}

.left {
    width: 27%;
}

.right {
    width: 72%;
}

.first {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 14px;
}

.first>h1 {
    font-size: 44px;
    font-weight: normal;
    margin: 0;
}

.first small {
    color: #2A6EC1;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.count_review {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.count_review>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 70px 70px;
    gap: 2%;
}

.third p {
    font-size: 13.5px;
}

.right, .right>div {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.right>div {
    border-bottom: 1px solid #9fa0a1;
    padding: 5px 12px 12px 12px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right h3, h4 {
    margin: 0px;
}

.right>button {
    width: 122px;
    padding: 9px;
    color: #2A6EC1;
    background: #FFF;
    border: 1px solid #2A6EC1;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.right>button:hover {
    background: #eaf2fc
}