.roomCard{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 7px;
    background-color: white;
    box-shadow: rgba(0,0,3,29)0px 3px 6px;
}
.selectedRoomCard{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 7px;
    background-color: white;
    box-shadow: rgba(0,0,3,29)0px 3px 6px;
    transform: scale(.9);
   background-color: blueviolet;
   color: white;
}
.roomCard:hover{
   transform: scale(.9);
   background-color: blueviolet;
   color: white;

}

.name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
    
}
.name:hover{
    color: aliceblue;
    font-weight: 900;
}
.price{
    color: #d929dc;
    text-decoration:line-through;
}
.realPrice{
    font-size: 25px;
    font-weight: 700;
   
}

